@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
